<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <header>
        <h2>
            Header and Basket
        </h2>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <h2>
            Footer
        </h2>
    </footer>
</body>
</html>
